@model IEnumerable<MvcModel.Models.ArticleView>

@{
    ViewBag.Title = "Select";
}

<h2>Select</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Viewcount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Released)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Viewcount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Released)
        </td>
    </tr>
}

</table>
